<script src="/visualize/index.js"></script>

<h1>Visualize Text</h1>

<div id="sidebar">
  <h3>Bitte geben Sie einen Text ein:</h3>
  <%= form_tag "/visualize/render" do  -%>
    <%= text_area_tag "text", @text_to_render, :id => "text" %>  
    <%= submit_tag "Submit" %>
  <% end -%>
</div> 

<div id="container"></div>
