<script src="/assets/visualize.js" type="text/paperscript" canvas="canvas" id="script"></script>

<h1>Visualize Text</h1>

<div id="sidebar">
  <h3>Bitte geben Sie einen Text ein:</h3>
  <%= text_area_tag "text", "Dies ist ein Standard Text", :id => "text" %>
</div> 

<canvas id="canvas" resize="true"></canvas>
