// Place all the styles related to the visualize controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sidebar{
  float:left;
  width:15%;
  height:300px;
  z-index:9999;
  #text{
    width:90%;
    height:200px;
  }
}
#container{
  float:left;
  width:80%;
  canvas{
    border:2px solid black;
    box-shadow:10px 10px 10px grey;  
  }
}

#legende{
  clear:both;
  padding-top:20px;
  margin-left:15%;
  ul{
    list-style:none;
    li{
      float:left;
      width:25px;
      height:25px;
      margin:2px;
      text-align:center;  
      div.label{
        padding-top:25px;
        font-weight:bold;
      }
      
    }
  }
}