// Place all the styles related to the visualize controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sidebar{
  float:left;
  width:15%;
  height:300px;
  z-index:9999;
  #text{
    width:90%;
    height:200px;
  }
}

#wrapper{
  float:left;
  #container{
    width:80%;
    canvas{
      border:2px solid black;
      box-shadow:10px 10px 10px grey;  
    }
  }
}

#controlls{
  float:left;
  padding-left:20px;
  text-align:center;
  line-height:30px;
  a{
    text-decoration: none;  
    font-weight:bold;
    padding:5px;
    margin-bottom:2px;
    background-color:lightgray;
    display:block;
    &.view{
      text-decoration:line-through;  
    }
    &.active{
      text-decoration:none;
    }
  }
  h3{
    background-color:gray;
    margin-bottom:2px;
  }
  input[type="input"]{
   background-color:lightgray; 
  }
  input[type="radio"],input[type="checkbox"]{
   display:none;
  }
  label{
    background-color:lightgray;  
    cursor:pointer;
    &.code,&.image{
      text-decoration:line-through;
      &:hover{
        color:white;
      }
    }
   &.active{
    text-decoration:none;
   }
  }
  div{
    display:block;
    background-color:lightgray; 
    margin-bottom:2px;
  }
}

#legende{
  clear:both;
  padding-top:20px;
  ul{
    list-style:none;
    li{
      float:left;
      width:25px;
      height:25px;
      margin:2px;
      margin-bottom:20px;
      text-align:center;  
      div.label{
        padding-top:25px;
        font-weight:bold;
      }
      
    }
  }
}


